.container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.container .el{
    width: 58px;
    height: 58px;
    border: 1px solid black;
}